# MsBuild
bud.userprefs

# MonoDevelop
test-results/
packages/

# Visual Studio Files
*.csproj.user
*.suo
*.user
bud.sln.ide/

# Editors
*.swp
*~

# Bud Build
.bud/global/nuGetRepository
.bud/global/output
**/.bud/output/
.bud/Build.dll