# MsBuild
bud.userprefs

# MonoDevelop
test-results/
packages/

# Visual Studio Files
*.csproj.user
*.suo
*.user
*.sln.ide/

# Editors
*.swp
*~

# Bud Build
.bud/global/nuGetRepository
**/output/
.bud/*.dll
TestResult.xml

obj/
bin/