# MsBuild
bud.userprefs

# MonoDevelop
test-results/
packages/

# Visual Studio Files
*.csproj.user
*.v12.suo
*.user

# Editors
*.swp
*~

# Bud Build
.bud/global/nuGetRepository
.bud/global/output
**/.bud/output/
.bud/Build.dll