<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bud.Make" version="1.0.0-rc2" targetFramework="net46" />
  <package id="Bud.Option" version="1.0.1" targetFramework="net46" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="Moq" version="4.5.22" targetFramework="net46" />
  <package id="NuGet.Common" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Versioning" version="3.4.3" targetFramework="net46" />
  <package id="NUnit" version="3.4.1" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net46" />
</packages>