Package: bud
Version: %version%
Architecture: i386
Maintainer: Matej Urbas <matej.urbas@gmail.com>
Installed-Size: %installedSize%
Depends: mono-runtime (>= 3.8.0)
Section: devel
Priority: optional
Homepage: http://bud.urbas.si
Description: Bud: Build tool without the 'ill'
  Bud is a build and project automation tool for C# projects. Bud builds, tests, and publishes C# applications and libraries.
