<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="NuGet.Common" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Logging" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Packaging" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Packaging.Core" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Repositories" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Versioning" version="3.4.3" targetFramework="net46" />
</packages>